language: python
python:
  - 3.8
  - 3.7
  - 3.6
  - 2.7
install: pip install -U tox-travis
script: tox
deploy:
  provider: pypi
  distributions: sdist
  user: alecm
  password:
    secure: oGqISKmmkU50+LP3t1AmYWAPfYA/aRg+XC6vioMQ7nqkljHmK8uPKrVff/hFIWHcclr6sRPKY01TfVHjar0kBd9uoHY5Nlpmu+ZTwxMUQ/dnkBdi3dNLXMVOiARL5E3ef0yJ1wESi2qHRdkZj3hsRXDWKKBMB28X6sLxPnn0x3mMYVR9s5nEeXtFq2B+TYjoTZBYil4u6PqRKihN8ZfPE5HLbFypUHcVq6ScpGVamRTJAnjj5SO4WzNdfEsK2MiTTvkdfHojfg7knnK/unqP4sOvsOjpQLCgrTK166Fml9rHlr8PBSo1MqihNug1NExaTHe7k04IygdZej+rR+P5cpnnEZkGwDUFJUuIpk5ehQXkC/J/6IVu5t5bjocNG32mkaDBzXR7dorHY2ZtwTi9ppaGMIAGYIA7+VmTaWb059j9nsuFoUP6rHqf0pLNRakwjO2RR0uyN6vPWBpcG6dOyzlgsRCIfPyLVnaeNBDmj3UUU3zx9zmcve42BO1mkBEpuqe0j4GEI+SwmixHGQZCuXUVGSqC8RycHUQDcPmQkHQ0i5Wo8CpG7z7Q7zH/FfDBh5qPPVXVzT/whI/Hp8p/35FyNtTNggTE5nIgs35f8eCC4Aa+ZTgUIksaTvSXQNnHH3RS42MfbFpBJfUMF9YCk+jijvpR/WoI/Yp1Dcc29dk=
  on:
    tags: true
    repo: KCRW-org/kcrw.apple_news
    python: 2.7
